@import url('./login.css');
@import url('./signup.css');

#account-form-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74vh;
    width: 34vw;
}

.account-form-modal-close-btn {
    align-self: flex-end;
    cursor: pointer;

    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;

    position: absolute;
    top: 1rem;
    right: 1rem;

    background-color: var(--verdigris);
    border: none;
    transition: all 0.3s ease-in-out;
}

.account-form-modal-close-btn:hover {
    background-color: var(--paynes-gray);
}

.account-form-modal-close-btn img {
    width: 100%;
    height: 100%;
}

.account-form-modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
    margin-bottom: 2rem;

    text-align: center;
}

#account-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    height: 100%;
    justify-content: space-evenly;

    margin-bottom: 1rem;
}

#account-form .form-input-holder {
    display: flex;
    flex-direction: column;
}

#account-form .form-input-holder label {
    grid-area: label;

    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

#account-form .form-input-holder input,
#account-form .form-input-holder textarea,
#account-form .form-input-holder select {
    grid-area: input;

    padding: 2%;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;

    border: 1px solid var(--verdigris);
    border-radius: 5px;
}

#account-form .form-input-holder input:focus,
#account-form .form-input-holder textarea:focus,
#account-form .form-input-holder select:focus {
    border: 2px solid var(--paynes-gray);
    outline: none;
}

#account-form .form-input-holder textarea {
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
}

#account-form .form-input-holder input[type="checkbox"] {
    grid-area: input;
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    cursor: pointer;
}

#account-form .form-input-holder select {
    cursor: pointer;
}

#account-form .form-input-holder div.extra-input {
    width: 80%;
    margin: 1rem auto;

}

#account-form .form-input-holder div.extra-input input {
    width: 100%;
    margin-bottom: 1rem;
}

#account-form .form-input-required-asterisk {
    color: var(--danger-red);
    font-weight: 600;
    font-size: 1.1rem;
}

.no-show-element {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;

    transition: max-height .2s ease, opacity .1s, visibility .1s;
}

.no-show-element.show {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    overflow: auto;
    pointer-events: auto;

    transition: max-height .2s ease, opacity .1s, visibility .1s;

    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 95%;
    margin: 1vw auto;
    padding: 1vw;
}

.account-form-submit-btn,
.github-account-btn,
.other-account-btns p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.account-form-submit-btn,
.github-account-btn,
.other-account-btns p button {
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.account-form-submit-btn img,
.github-account-btn img {
    height: 1.5rem;
}

.other-account-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.github-account-btn {
    background-color: #4b5563;
    color: var(--light-text);
    text-decoration: none;
}

.github-account-btn:hover {
    background-color: #374151;
}

.other-account-btns p button {
    background-color: var(--verdigris);
    color: var(--light-text);
    font-weight: 500;
}

.other-account-btns p button:hover {
    background-color: var(--paynes-gray);
}

/* Responsive Design */
@media screen and (max-width: 900px) {
    #account-form-modal {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {
    #account-form-modal {
        width: 90vw;
    }
}