.form-input-add {
    grid-area: add;

    color: var(--dark-text);
    background-color: var(--light-text);
    padding: 1%;
    font-size: .85rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.input-requirements-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-requirement,
.input-requirements-error li {
    list-style-type: none;
    margin-left: 2rem;
}

.input-requirement-icon.before {
    color: var(--danger-red);
}

.input-requirement-icon.after {
    color: var(--success-green);
}

ul.input-requirements-error {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
}

.input-requirements-error {
    color: var(--danger-red);
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}

.input-requirements-error li {
    color: var(--dark-text);
}