@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* Global Font Families */
:root {
    --font-family-poppins: 'Poppins', Arial, Helvetica, sans-serif;
    --font-family-league-script: 'League Script', cursive;
    --font-family-cutive-mono: 'Cutive Mono', monospace;
}

/* Global Reset Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-poppins);
}

body,
#root,
.container {
    min-height: calc(100dvh - calc(11.7vh + 16vh));
    background-color: #ffffff;
}