/* Global Header Styles */
#main-header {
    background-color: var(--light-olive);
    color: var(--black-olive);

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    height: 11.7vh;

    display: grid;
    grid-template-columns: minmax(200px, 20vw) 2fr;
    align-items: center;
}

#main-logo {
    background-image: url(../../assets/android-chrome-192x192.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-family: var(--font-family-league-script);
    background-color: #9dad9366;
    text-shadow: 4px 4px 4px #3a3a3a;
    border-radius: 50%;

    transition: all 0.3s ease-in-out;
}

#main-logo a:hover {
    background-color: #9dad93bf;
    text-shadow: 5px 5px 3px #4d5739;
}

#main-logo a,
#main-navbar .nav-link,
#main-navbar .nav-link a {
    color: var(--black-olive);
    text-decoration: none;
    cursor: pointer;
}

#main-navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 1rem;
}

#main-navbar ul {
    list-style: none;
    position: relative;
}

#main-navbar li {
    position: relative;
}

#main-navbar .nav-link {
    font-size: 1.2rem;

    width: 100%;
}

#main-navbar .user-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

#main-navbar .nav-link:hover {
    text-decoration: underline;
}

#main-navbar .dropdown {
    display: none;
}

#main-navbar .dropdown.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    background-color: var(--transparent-olive);
    border-radius: 5px;
    border: 1px solid var(--black-olive);
    z-index: 1000;    
    
    top: 40px;
    padding: 1rem;
}

.challenge-nav {
    font-size: 1.2rem;
}

.challenge-nav .dropdown.active {
    width: 220%;
    left: -60%;
}

.user-nav .dropdown.active {
    width: 100%;
    left: 0;
}

.challenge-nav,
.user-nav,
.account-link {
    padding: 0.5rem;
    cursor: pointer;
}

.user-nav-username {
    font-family: var(--font-family-cutive-mono);
    font-weight: bold;
}

.account-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.account-links .account-link {
    border: 2px solid var(--dark-text);
    border-radius: 5px;
    background-color: var(--black-olive);
    color: var(--light-olive);

    transition: all 0.3s ease-in-out;
}

.account-links .account-link:hover {
    background-color: var(--verdigris);
    color: var(--black-olive);
}

.nav-link-text {
    opacity: 60%;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover .nav-link-text {
    opacity: 100%;
    margin-left: 0;
}