#known-issue-modal {
    z-index: 10001;

    .modal-content {
        height: 100%;
    }
}

#known-issue-modal-list {
    margin: 0 1rem;
}

.known-issue-modal-list-item-information {
    margin-left: 1.5rem;

    li {
        margin-top: .5rem;
    }
}

#known-issue-modal-footer {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: right;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    #known-issue-modal {
        width: 80vw;
        height: 70vh;
        padding: 2rem 1rem;
    }
    
    #known-issue-modal-footer {
        margin-top: auto;
    }
}

@media screen and (max-width: 500px) {
    #known-issue-modal {
        width: 90vw;
        height: 90vh;
        padding: 2rem 1rem;
    }
}