/* Left-Aside Form Styles */

.challenges-form {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

#filter-challenges-form {
    height: 100%;    
}

.filter-challenges-form-input-holder {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-challenges-form-input-holder label {
    color: var(--dark-text);
}

.limits-holder {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5%;
}

.limits-holder label {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

.limits-holder label:hover {
    color: var(--verdigris);
    border-color: var(--verdigris);
    transform: scale(1.05);
}

.filter-challenges-form-input-holder input[type="text"]:focus,
.filter-challenges-form-input-holder select:focus,
fieldset.filter-challenges:focus {
    border-color: var(--verdigris);
    outline: none;
}

.filter-challenges-form-input-holder input[type="text"],
.filter-challenges-form-input-holder select,
fieldset.filter-challenges {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--paynes-gray);
    border-radius: 4px;
    color: var(--dark-text);
}

/* Right-Body Content Styles */

#all-challenges-body {
    margin: 0 10vw;
    padding: 2rem 1rem;
    background-color: #ffffff;
    color: var(--black-olive);
}

#all-challenges-body h1 {
    font-size: 2rem;
    color: var(--verdigris);
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#challenges-list {
    width: 100%;
    padding: 0;
    list-style: none;
}

#challenges-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* Responsive designs */
@media (max-width: 768px) {
    #all-challenges-body h1 {
        font-size: 1.75rem;
    }

    #challenges-list {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    #all-challenges-body h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
