@import url('./challenge-card-tags.css');

.challenge-card {
    background-color: #f8fafc;
    border: 1px solid #19647e6e;
    border-radius: 3px;
    box-shadow: 0 4px 6px #0000003d;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transition: transform 0.2s, box-shadow 0.15s;

    position: relative;
}

.challenge-card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 10px #0000006f;
}

.challenge-card-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.challenge-card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.challenge-card-name {
    font-size: 1.4rem;
    color: var(--black-olive);
    font-weight: bold;
    margin: 0;
}

.bookmark-holder {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: -.5rem;
    left: -.4rem;
}

.bookmark-holder .bookmark {
    height: 1.8rem;
    color: var(--verdigris);
    cursor: pointer;
    transition: color 0.15s;
    background-color: #f8fafc;
    border-radius: 2px;
}

.bookmark-holder.filled {
    border-radius: 5px;
    padding: 0.2rem;
    transition: all 0.15s;
}

.bookmark-holder.filled .bookmark.filled {
    background: none;
}

.points-holder {
    position: absolute;
    top: -.6rem;
    right: -.6rem;

    height: 2rem;

    background-color: var(--verdigris);
    color: var(--light-text);

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(10deg);
    transition: all 0.15s;
}

.points-holder:hover {
    background-color: var(--paynes-gray);
    transform: rotate(0deg) scale(1.05);
}

.points-holder .points {
    margin: auto;
    padding: 0.1rem 0.2rem;
}

.points-details-holder {
    width: 0;
    overflow: hidden;

    position: absolute;
    top: -.6rem;
    right: 3rem;
    
    margin-right: 0.5rem;

    background-color: var(--verdigris);
    color: var(--light-text);

    border-radius: 5px;

    transition: width 0.15s ease-in-out;
}

.points-details-holder.shown {
    width: 16rem;
}

.points-details-holder .points-details {
    display: none;
    height: 0;
    overflow: hidden;

    transition: all 0.15s;
}

.points-details-holder.shown .points-details.shown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.2rem;
    height: 1.5rem;
}

.challenge-card-author-holder {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.challenge-card-author-image {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    object-fit: cover;
}

.challenge-card-author {
    color: var(--verdigris);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.15s;
}

.challenge-card-author:hover {
    color: var(--paynes-gray);
}

.challenge-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.challenge-card-description {
    font-size: 0.9rem;
    color: var(--black-olive);
    margin: 0;
    opacity: 0.8;
}

.challenge-card-prompt {
    font-size: 1rem;
    color: var(--dark-text);
    margin-top: 1rem;
}

.challenge-card-countdown {
    font-size: 0.85rem;
    color: var(--mild-danger-red);
    font-weight: bold;
}

.challenge-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}

.challenge-card-link {
    color: var(--verdigris);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.15s;
}

.challenge-card-link:hover {
    color: var(--paynes-gray);
}

.challenge-card-button {
    background-color: var(--verdigris);
    color: var(--light-text);
    font-size: 0.9rem;
    text-decoration: none;
    
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;

    transition: background-color 0.15s, transform 0.15s;
}

.challenge-card-button:hover {
    background-color: var(--paynes-gray);
    transform: scale(1.04);
}

.challenge-card-button:active {
    transform: scale(1);
}